/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-gray-6) !important;
  color: var(--color-gray-6) !important;
  background-color: var(--color-primary-variant) !important;
}

input:-webkit-autofill:not(:focus) {
  -webkit-text-fill-color: var(--color-gray-6) !important;
  color: var(--color-gray-6) !important;
  background-color: var(--color-primary-variant) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-primary-variant) inset;
}

fieldset {
  color: var(--color-gray-6) !important;
}
input,
input:-internal-autofill-selected {
  all: unset;
  appearance: none;
  box-sizing: border-box;
}

input:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}

input:-o-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -o-box-shadow: 0 0 0px 1000px white inset;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[data-autocompleted] {
  color: var(--color-gray-6) !important;
}

input,
input[type="text"],
input::placeholder {
  background-color: var(--color-primary-variant);
}

textarea:focus,
input:focus {
  outline: none;
}

.input textarea {
  resize: none;
  height: 100%;
  font-family: inherit;
}

.input input,
textarea {
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  width: 100%;

  border: 1px solid var(--color-gray-3);
  height: 48px;
  padding: 0 16px;
}

.input {
  color: var(--color-gray-6);
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;

  &.input-small {
    width: 25%;
  }

  &.input-medium {
    width: 50%;
  }

  &.input-large {
    width: 100%;
  }

  .input-error {
    font-size: 12px;
    color: var(--color-error);
  }
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-variant {
  color: var(--color-primary-variant);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-secondary-variant {
  color: var(--color-secondary-variant);
}

.text-gray-1 {
  color: var(--color-gray-1);
}

.text-gray-2 {
  color: var(--color-gray-2);
}

.text-gray-3 {
  color: var(--color-gray-3);
}

.text-gray-4 {
  color: var(--color-gray-4);
}

.text-gray-5 {
  color: var(--color-gray-5);
}

.text-gray-6 {
  color: var(--color-gray-6);
}
